.header {
    min-height: 75px;
    background-color: $almostBlack;
    display: flex;
    align-items: center;

    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-right {
        margin-top: 8px;
    }

    &-logo {
        margin-right: 41px;
    }

    &-menu,
    &-account {
    margin-right: 33px;
    }
}